/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* Fonts & Colors */
$body-font: "Lato", sans-serif;
$primary-heading: "Bebas Neue", sans-serif;
$secondary-heading: "Oswald", sans-serif;
$muted-blue: rgb(65, 79, 107);
$muted-blue-faded: rgba(65, 79, 107, 0.5);
$dark-blue: rgb(23, 25, 28);
$grey: rgb(176, 180, 190);
$light-blue: rgb(99, 118, 157);
$dark-grey: rgb(77, 77, 77);
/* Style Variables */
$transition: 1s color, 1s border-bottom;

/* Universal Styles */
body {
  color: $dark-blue;
  font-family: $body-font;
  font-size: 22px;
}
h1,
h2,
h3 {
  font-family: $primary-heading;
}
a {
  text-decoration: none;
}
li a:link,
li a:visited {
  font-size: 0.75rem;
  font-style: italic;
  font-weight: 900;
  font-family: $body-font;
  text-transform: uppercase;
}
.content-wrapper {
  margin: 0px 60px;
}
/* Navigation */
.navbar {
  padding-bottom: 10px;
}
.main-nav {
  list-style: none;
  display: none;
}
.nav-links {
  border-bottom: 1px solid $light-blue;
  color: $light-blue;
  text-decoration: none;
  &:link,
  &:visited {
    border-bottom: 1px solid $light-blue;
    color: $light-blue;
  }
  &:hover {
    border-bottom: 1px solid $dark-blue;
    color: $dark-blue;
    transition: $transition;
  }
}
.main-nav {
  margin: 0 auto;
  margin-right: 50px;
  margin-top: 100px;
  width: 75%;
}
.main-nav li {
  background: rgba(255, 255, 255, 0.75);
  padding: 20px 0px;
  text-align: center;
  width: 100%;
}
.logo {
  display: inline-block;
  margin-top: 30px;
}
.navbar-toggle {
  position: absolute;
  top: 30px;
  right: 60px;
  cursor: pointer;
}
#chkToggle {
  display: none;
}
#chkToggle:checked + ul.main-nav {
  display: block;
}
/* History */
#history {
  background: url("../img/history.png");
  background-position: bottom;
  background-repeat: no-repeat;
  .mini-wrapper {
    background: white;
  }
  .mini-nav {
    height: 50px;
    padding: 20px 0px;
    margin: 0px 60px;
    .body-logo {
      h2 {
        color: $dark-grey;
        font-size: 1.3rem;
        line-height: 1.15rem;
        padding-left: 10px;
        span {
          color: $muted-blue;
          display: block;
        }
      }
      display: flex;
      justify-content: center;
      align-items: center;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      list-style: none;
      li {
        display: inline-block;
        margin-left: 20px;
        a:link,
        a:visited {
          border-bottom: 1px solid $muted-blue;
          color: $muted-blue;
          transition: $transition;
        }
        a:hover {
          border-bottom: 1px solid $light-blue;
          color: $light-blue;
          transition: $transition;
        }
      }
    }
  }
  /* History Content */
  .history-content {
    h1 {
      color: $muted-blue;
      &::before {
        content: "01.";
        color: $muted-blue-faded;
        font-size: 9rem;
        position: relative;
        left: 24px;
        top: 25px;
      }
    }
  }
}
/* Large Screens */
@media screen and (min-width: 1200px) {
  /* Universal Styles */
  .content-wrapper {
    margin: 0px 320px;
  }
  /* Navigation */
  .navbar {
    background: none;
    display: flex;
    justify-content: space-around;
    height: 75px;
    align-items: center;
  }
  #chkToggle:checked + ul.main-nav {
    display: flex;
  }
  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 0px;
    margin-right: 0px;
    width: initial;
  }
  .main-nav li {
    background: none;
    padding: 0;
    margin: 0;
    width: initial;
  }
  .nav-links {
    margin-left: 40px;
  }
  .logo {
    margin-top: 0;
  }
  .navbar-toggle {
    display: none;
  }
}
/* Hero */
header {
  background: url("../img/hero.png");
  background-size: cover;
  background-position: center top;
  height: 500px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
