/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* Fonts & Colors */
/* Style Variables */
/* Universal Styles */
body {
  color: #17191c;
  font-family: "Lato", sans-serif;
  font-size: 22px; }

h1,
h2,
h3 {
  font-family: "Bebas Neue", sans-serif; }

a {
  text-decoration: none; }

li a:link,
li a:visited {
  font-size: 0.75rem;
  font-style: italic;
  font-weight: 900;
  font-family: "Lato", sans-serif;
  text-transform: uppercase; }

.content-wrapper {
  margin: 0px 60px; }

/* Navigation */
.navbar {
  padding-bottom: 10px; }

.main-nav {
  list-style: none;
  display: none; }

.nav-links {
  border-bottom: 1px solid #63769d;
  color: #63769d;
  text-decoration: none; }
  .nav-links:link, .nav-links:visited {
    border-bottom: 1px solid #63769d;
    color: #63769d; }
  .nav-links:hover {
    border-bottom: 1px solid #17191c;
    color: #17191c;
    transition: 1s color, 1s border-bottom; }

.main-nav {
  margin: 0 auto;
  margin-right: 50px;
  margin-top: 100px;
  width: 75%; }

.main-nav li {
  background: rgba(255, 255, 255, 0.75);
  padding: 20px 0px;
  text-align: center;
  width: 100%; }

.logo {
  display: inline-block;
  margin-top: 30px; }

.navbar-toggle {
  position: absolute;
  top: 30px;
  right: 60px;
  cursor: pointer; }

#chkToggle {
  display: none; }

#chkToggle:checked + ul.main-nav {
  display: block; }

/* History */
#history {
  background: url("../img/history.png");
  background-position: 0% 1%;
  background-repeat: no-repeat;
  background-size: cover;
  /* History Content */ }
  #history .mini-wrapper {
    background: white; }
  #history .mini-nav {
    height: 50px;
    padding: 20px 0px;
    margin: 0px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #history .mini-nav .body-logo {
      display: flex;
      justify-content: center;
      align-items: center; }
      #history .mini-nav .body-logo h2 {
        color: #4d4d4d;
        font-size: 1.3rem;
        line-height: 1.15rem;
        padding-left: 10px; }
        #history .mini-nav .body-logo h2 span {
          color: #414f6b;
          display: block; }
    #history .mini-nav ul {
      list-style: none; }
      #history .mini-nav ul li {
        display: inline-block;
        margin-left: 20px; }
        #history .mini-nav ul li a:link,
        #history .mini-nav ul li a:visited {
          border-bottom: 1px solid #414f6b;
          color: #414f6b;
          transition: 1s color, 1s border-bottom; }
        #history .mini-nav ul li a:hover {
          border-bottom: 1px solid #63769d;
          color: #63769d;
          transition: 1s color, 1s border-bottom; }
  #history .history-content {
    height: 900px;
    margin-top: -50px; }
    #history .history-content h1 {
      color: #414f6b; }
      #history .history-content h1::before {
        content: "01.";
        color: rgba(65, 79, 107, 0.5);
        font-size: 9rem;
        position: relative;
        left: 24px;
        top: 25px; }
    #history .history-content p {
      font-size: 1rem;
      position: absolute;
      top: 730px;
      width: 70%; }
  #history .carousel {
    background-color: rgba(65, 79, 107, 0.5);
    height: 200px;
    margin-top: 500px; }
    #history .carousel .content-wrapper {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: center;
      width: auto;
      padding-top: 75px; }
      #history .carousel .content-wrapper .slide {
        width: 90px; }
      #history .carousel .content-wrapper img {
        width: 100%; }
    #history .carousel .dot-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      width: 30px; }
      #history .carousel .dot-container i {
        color: white;
        font-size: 0.35rem;
        margin-top: 15px; }
        #history .carousel .dot-container i:nth-of-type(2) {
          color: #b0b4be; }
        #history .carousel .dot-container i:nth-of-type(3) {
          color: #b0b4be; }

/* Climb Section */
#team {
  /* Schedule */ }
  #team h1 {
    color: #414f6b; }
    #team h1::before {
      content: "02.";
      color: rgba(65, 79, 107, 0.5);
      font-size: 9rem;
      position: relative;
      left: 24px;
      top: 25px; }
  #team p {
    font-size: 1rem; }
  #team .schedule-carousel {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px; }
  #team .schedule-buttons {
    background: #414f6b;
    display: flex;
    align-items: center; }
    #team .schedule-buttons .content-wrapper button {
      background: #414f6b;
      border: none;
      color: #b0b4be;
      font-family: "Oswald", sans-serif;
      font-weight: 500;
      text-transform: uppercase;
      margin-right: 20px;
      padding: 9.9px 20px; }
    #team .schedule-buttons .content-wrapper button:hover {
      background: #b0b4be;
      color: #414f6b;
      text-decoration: underline; }
  #team .tab-content {
    background: rgba(255, 255, 255, 0.75);
    margin: 0px 60px;
    margin-top: 100px;
    padding: 10px 40px;
    width: 300px; }
    #team .tab-content h2 {
      color: #414f6b;
      font-size: 2.75rem;
      line-height: .10rem; }
    #team .tab-content p {
      line-height: 1rem; }

/* Extra Small Screens */
@media screen and (max-width: 350px) {
  body {
    font-size: 10px; } }
/* Large Screens */
@media screen and (min-width: 1200px) {
  /* Universal Styles */
  .content-wrapper {
    margin: 0px 320px; }

  /* Navigation */
  .navbar {
    background: none;
    display: flex;
    justify-content: space-around;
    height: 75px;
    align-items: center; }

  #chkToggle:checked + ul.main-nav {
    display: flex; }

  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 0px;
    margin-right: 0px;
    width: initial; }

  .main-nav li {
    background: none;
    padding: 0;
    margin: 0;
    width: initial; }

  .nav-links {
    margin-left: 40px; }

  .logo {
    margin-top: 0; }

  .navbar-toggle {
    display: none; }

  /* history */ }
/* Hero */
header {
  background: url("../img/hero.png");
  background-size: cover;
  background-position: center top;
  height: 500px; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */ }

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto; }

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden; }

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre {
    white-space: pre-wrap !important; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */
